---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/categorySearch/atm.json?countrySet=US&key=DONT_SHARE_MY_TOM_TOM_KEY&language=en-US&lat=38.9169984&lon=-77.0320505&relatedPois=off&view=Unified
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - 78c1343c-1925-40fe-8590-e87fa70eee13
      X-Tomtom-Processed-By:
      - westus2
      X-Tomtom-Message-Id:
      - 5eeeb866-b0dd-47f3-87b0-2ef890494bba
      X-Tomtom-Upstream-Service-Time:
      - '343'
      X-Tomtom-Attempt-Count:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"query":"atm","queryType":"NON_NEAR","queryTime":325,"numResults":10,"offset":0,"totalResults":100,"fuzzyLevel":1,"geoBias":{"lat":38.9169984,"lon":-77.0320505}},"results":[{"type":"POI","id":"WOUuLXiY1DeI2BvyNI5FnA","score":2.5745279789,"dist":9.56959,"info":"search:ta:840117000001946-US","poi":{"name":"Pnc
        Bank, National Association","categorySet":[{"id":7397}],"categories":["cash
        dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetName":"14th Street Northwest","municipality":"Washington","neighbourhood":"U
        Street","countrySecondarySubdivision":"District of Columbia","countrySubdivision":"DC","countrySubdivisionName":"District
        of Columbia","countrySubdivisionCode":"DC","postalCode":"20009","extendedPostalCode":"20009-4431","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"14th Street Northwest,
        Washington, DC 20009","localName":"Washington"},"position":{"lat":38.916967,"lon":-77.031948},"viewport":{"topLeftPoint":{"lat":38.91787,"lon":-77.0331},"btmRightPoint":{"lat":38.91607,"lon":-77.03079}},"entryPoints":[{"type":"main","position":{"lat":38.91697,"lon":-77.03195}}]},{"type":"POI","id":"5676W9Dc6JTr3vcPQGnimg","score":2.5745275021,"dist":37.583172,"info":"search:ta:840119000467536-US","poi":{"name":"Prosperity
        Bank","categorySet":[{"id":7397}],"categories":["cash dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"1356","streetName":"U Street Northwest","municipality":"Washington","neighbourhood":"U
        Street","countrySecondarySubdivision":"District of Columbia","countrySubdivision":"DC","countrySubdivisionName":"District
        of Columbia","countrySubdivisionCode":"DC","postalCode":"20009","extendedPostalCode":"20009-4445","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"1356 U Street Northwest,
        Washington, DC 20009","localName":"Washington"},"position":{"lat":38.916836,"lon":-77.03167},"viewport":{"topLeftPoint":{"lat":38.91774,"lon":-77.03283},"btmRightPoint":{"lat":38.91594,"lon":-77.03051}},"entryPoints":[{"type":"main","position":{"lat":38.917,"lon":-77.03167}}]},{"type":"POI","id":"WOHleMcF6iy3QOUwOwGKbA","score":2.5745275021,"dist":31.728607,"info":"search:ta:840117000006552-US","poi":{"name":"Capital
        One Bank","phone":"+1 202-890-4518","brands":[{"name":"Capital One Bank"}],"categorySet":[{"id":7397}],"url":"www.capitalonebank.com/?external_id=ENTSOC_YX_YextRetail_Profile_0101","categories":["cash
        dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"1947","streetName":"14th Street
        Northwest","municipality":"Washington","neighbourhood":"U Street","countrySecondarySubdivision":"District
        of Columbia","countrySubdivision":"DC","countrySubdivisionName":"District
        of Columbia",[...]
