---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/categorySearch/atm.json?countrySet=US&key=DONT_SHARE_MY_TOM_TOM_KEY&language=en-US&lat=24.23423&lon=-83.343&relatedPois=off&view=Unified
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - 8a6fbed1-bdc8-4f7a-bd79-cdfbadf76e3b
      X-Tomtom-Processed-By:
      - westus2
      X-Tomtom-Message-Id:
      - 805c61f8-8352-4183-a17a-43861071c84e
      X-Tomtom-Upstream-Service-Time:
      - '520'
      X-Tomtom-Attempt-Count:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"query":"atm","queryType":"NON_NEAR","queryTime":503,"numResults":10,"offset":0,"totalResults":100,"fuzzyLevel":1,"geoBias":{"lat":24.23423,"lon":-83.343}},"results":[{"type":"POI","id":"sGr7QBHHJT8IOeiuYMuh3w","score":2.1604332924,"dist":159553.734887,"info":"search:ta:840129003909988-US","poi":{"name":"ATM
        at Westin Kw","categorySet":[{"id":7397}],"categories":["cash dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"245","streetName":"Front Street","municipality":"Key
        West","countrySecondarySubdivision":"Monroe","countrySubdivision":"FL","countrySubdivisionName":"Florida","countrySubdivisionCode":"FL","postalCode":"33040","extendedPostalCode":"33040-8313","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"245 Front Street, Key West,
        FL 33040","localName":"Key West"},"position":{"lat":24.558497,"lon":-81.808165},"viewport":{"topLeftPoint":{"lat":24.55988,"lon":-81.80969},"btmRightPoint":{"lat":24.55711,"lon":-81.80664}},"entryPoints":[{"type":"main","position":{"lat":24.55853,"lon":-81.80664}}]},{"type":"POI","id":"lrRgmHeLgZxfoSxcfUh2YQ","score":2.1604244709,"dist":159645.728741,"info":"search:ta:840129007721897-US","poi":{"name":"Pueblo
        Bank And Trust Company","categorySet":[{"id":7397}],"categories":["cash dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"201","streetName":"Front Street","municipality":"Key
       [...]
