---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/categorySearch/atm.json?countrySet=US&key=DONT_SHARE_MY_TOM_TOM_KEY&language=en-US&lat=24&lon=-73&relatedPois=off&view=Unified
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - 1e154095-befc-422c-adee-663765d52e20
      X-Tomtom-Processed-By:
      - westus2
      X-Tomtom-Message-Id:
      - d9ef8b53-4402-46f8-809e-c78024f229bb
      X-Tomtom-Upstream-Service-Time:
      - '41'
      X-Tomtom-Attempt-Count:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"query":"atm","queryType":"NON_NEAR","queryTime":10,"numResults":10,"offset":0,"totalResults":100,"fuzzyLevel":1,"geoBias":{"lat":24,"lon":-73}},"results":[{"type":"POI","id":"k-YGYb3DDj3zKUyVBAJhXg","score":2.1457550526,"dist":745721.289726,"info":"search:ta:840129008668061-US","poi":{"name":"Metabank","categorySet":[{"id":7397}],"categories":["cash
        dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"1","streetName":"Ocean Drive","municipality":"Miami
        Beach","countrySecondarySubdivision":"Miami-Dade","countrySubdivision":"FL","countrySubdivisionName":"Florida","countrySubdivisionCode":"FL","postalCode":"33139","extendedPostalCode":"33139-7321","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"1 Ocean Drive, Miami Beach,
        FL 33139","localName":"Miami Beach"},"position":{"lat":25.769018,"lon":-80.132238},"viewport":{"topLeftPoint":{"lat":25.76992,"lon":-80.13324},"btmRightPoint":{"lat":25.76812,"lon":-80.13124}},"entryPoints":[{"type":"minor","position":{"lat":25.76936,"lon":-80.13309}},{"type":"main","position":{"lat":25.76919,"lon":-80.13313}},{"type":"main","position":{"lat":25.76922,"lon":-80.13312}}]},{"type":"POI","id":"jLKRog4YBRjq3KVZgma04g","score":2.1457548141,"dist":745834.049886,"info":"search:ta:840129007411557-US","poi":{"name":"Metabank","categorySet":[{"id":7397}],"categories":["cash
        dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dis[...]
