---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/categorySearch/atm.json?countrySet=US&key=DONT_SHARE_MY_TOM_TOM_KEY&language=en-US&lat=24.23&lon=-73.232&relatedPois=off&view=Unified
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - ed5e1400-ce82-42de-bfff-122785cf4255
      X-Tomtom-Processed-By:
      - westus2
      X-Tomtom-Message-Id:
      - dbfb5e3a-eae0-4628-9442-72faaa5db6f0
      X-Tomtom-Upstream-Service-Time:
      - '247'
      X-Tomtom-Attempt-Count:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"query":"atm","queryType":"NON_NEAR","queryTime":231,"numResults":10,"offset":0,"totalResults":100,"fuzzyLevel":1,"geoBias":{"lat":24.23,"lon":-73.232}},"results":[{"type":"POI","id":"k-YGYb3DDj3zKUyVBAJhXg","score":2.1458230019,"dist":716029.039874,"info":"search:ta:840129008668061-US","poi":{"name":"Metabank","categorySet":[{"id":7397}],"categories":["cash
        dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"1","streetName":"Ocean Drive","municipality":"Miami
        Beach","countrySecondarySubdivision":"Miami-Dade","countrySubdivision":"FL","countrySubdivisionName":"Florida","countrySubdivisionCode":"FL","postalCode":"33139","extendedPostalCode":"33139-7321","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"1 Ocean Drive, Miami Beach,
        FL 33139","localName":"Miami Beach"},"position":{"lat":25.769018,"lon":-80.132238},"viewport":{"topLeftPoint":{"lat":25.76992,"lon":-80.13324},"btmRightPoint":{"lat":25.76812,"lon":-80.13124}},"entryPoints":[{"type":"minor","position":{"lat":25.76936,"lon":-80.13309}},{"type":"main","position":{"lat":25.76919,"lon":-80.13313}},{"type":"main","position":{"lat":25.76922,"lon":-80.13312}}]},{"type":"POI","id":"preF91AZiEXKhwFPAL_pCg","score":2.1458230019,"dist":716044.917333,"info":"search:ta:840129007617735-US","poi":{"name":"Metabank","categorySet":[{"id":7397}],"categories":["cash
        dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dis[...]
